# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE - Eclipse
.classpath
.project
.factorypath
.settings/

# IDE - IntelliJ
.idea/
*.iml
*.iws

# IDE - VS Code
.vscode/

# IDE - NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled class files
*.class

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Test and Audit Results
test-results.json
flyway-results/
